Lab1/Lab1/.idea/*
Lab1/Lab1/.ipynb_checkpoints/*
Lab1/Lab1/venv/*

Lab2/Lab2/.idea/*
Lab2/Lab2/.ipynb_checkpoints/*
Lab2/Lab2/env/*

Lab3/Lab3/.ipynb_checkpoints/*
Lab3/Lab3/env/*

Lab4/.ipynb_checkpoints/*
Lab4/env/*

Lab5/.ipynb_checkpoints/*
Lab5/env/*
Lab5/.idea/*